<!DOCTYPE html>

<html ng-app="myModel">
<head>
  <title>Beego</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <script src='/static/js/angular.js'></script>
  <script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.10.0.js"></script>
  <script type="text/javascript" src="/static/js/curd/Elvin-Table.js"></script>
  <script src='/static/js/app.js'></script>
</head>
<body ng-controller="PageConfigCtrl">
  <elvin-table  config="tableConfig"></elvin-table >
</body>
</html>