<!DOCTYPE html>

<html>
<head>
	<script type="text/javascript">

		// var str = "abcdefg[name=123456,xyz=9876]";
		//  var reg = /[0,9]*-TRIAL-/;
		//  var result=str.replace(reg, function(s,value) {
		//  		alert(s);
		//      alert(value); // value 就是 123456
		//      return value;
		//  });
		//  alert(result);
		 var str="";
        str1 = str.replace(/'([0-9]*)?-TRIAL(-)?([0-9,a-z,A-Z,\u4e00-\u9fa5,_,\%,-]*\s[0-9]*)?'/g,function(s,value){
        	debugger
        	s=s.replace(/'/g,'');
        	//console.log(s);
        	s=s.replace(/([0-9]*)?-TRIAL(-)?/,'');
        	//console.log(s);
        	var array=s.split(' ');
        	if(array.length>1){
        		return "'"+array[0]+"'";
        	}
        	else{
				return "''";
        	}
        });
        console.log(str1);
	</script>
</head>
<body>
	111
</body>
</html>