# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.exe
# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.pb.go
ssh/id_rsa
.DS_Store
spider/result/
*.go~
*.swp
angular2-quickstart/node_modules/
angular-demo/node_modules
stat/game.log.append
stat/game.log
stat/test.log.append
/.project
dlv/debug
unknown/base/json/debug
compose/dst.txt
compose/dst2.txt
compose/dst3.txt
compose/tmp/
test_weedfs/tmp/
angular-quickstart/node_modules/
angular-quickstart/typings/
