<br>
<div class="clearfix">
    <div class="col-xs-10">
        <button class="btn" (click)="gotoDetail('add')">新增</button>
    </div>
    <!-- 高级搜索 -->
    <div class="search-form  col-xs-2 text-right">
        <input type="text" class="search-input form-control" [(ngModel)]="queryParams.Nickname" placeholder="请输入昵称">
    </div>
</div>
<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="row-selected row-selected">
                <input class="check-all" type="checkbox" (change)="selectAll($event)">
            </th>
            <th>用户ID</th>
            <th>昵称</th>
            <th>性别</th>
            <th>生日</th>
            <th>登录次数</th>
            <th>注册时间</th>
            <th>最后登录IP</th>
            <th>最后登录时间</th>
            <th>会员状态</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#m of list" [class.selected]="m===selected">
            <td>
                <input class="ids" type="checkbox" [(ngModel)]="m.Selected">
            </td>
            <td>{{m.Uid}}</td>
            <td>{{m.Nickname}}</td>
            <td>{{m.Sex}}</td>
            <td>{{m.Birthday}}</td>
            <td>{{m.Login}}</td>
            <td>{{m.RegTime}}</td>
            <td>{{m.LastLoginIp}}</td>
            <td>{{m.LastLoginTime}}</td>
            <td>{{m.Status}}</td>
            <td>
                <button class="btn" (click)="gotoDetail('update',m)">编辑</button>
                <button class="btn" (click)="enable(m)" [hidden]="m.Status=='1'">启用 </button>
                <button class="btn" (click)="disable(m)" [hidden]="m.Status=='0'">禁用 </button>
                <button class="btn" (click)="del(m)">删除</button>
            </td>
        </tr>
    </tbody>
</table>