h2 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}
/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}
[hidden] {
  display: none;
}
.edit-dialog label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
.edit-dialog input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
.edit-dialog button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
.edit-dialog button:hover {
  background-color: #cfd8dc;
}
.edit-dialog button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}